@import url('https://use.typekit.net/hrx3hnu.css');
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --blacky: '#222222',
  --greyNew: '#B6B6B6',
  --greyLink: "#C5C5C5",
  --greyRingCursor: "#D9D9D9",
  --yellowdark: '#8f3270',
  --yellow: '#ebd515',
  --white2: '#F8F7F0'
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
  cursor: none;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.icon-size-custom {
  height: 26px;
  width: 26px
}

/* fonts */

.general {
  font-family: 'ivypresto-display', serif;
}

.menca {font-family: 'menca', sans-serif;}

.bounds {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
}

@keyframes hor-movement2 {
  from {
    margin-left: 80vw;
  }
  to {
    margin-left: 0vw;
  }
}

@keyframes ver-movement2 {
  from {
    margin-top: 70vh;
  }
  to {
    margin-top: 0vh;
  }
}

.image2 {
  animation-name: hor-movement2, ver-movement2;
  animation-duration: 15s, 20s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}


/* testCursor */

.cursorDesign {
  background-color: rgb(214, 21, 21);

  height: 82px;
  width: 82px;
  border-radius: 50%;
  position:fixed;

}

.blurred {
  filter: blur(1.8px);
  transition: filter 0.1s;
}


/* animation cursor home images */

.boogieImg {
 
  animation: popIn 3s forwards  ,  moveAround 8s ;
  opacity: 0;
  
}
@keyframes popIn {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  /* 60% {
    transform: scale(1);
    opacity: 1;
  } */

  75% {
    transform: scale(1);
    opacity: 1;
  }

  90% {
    transform: scale(1);
    opacity: 0
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
.text-on-top {
  position: relative;
 z-index: 10;
}

@keyframes moveAround {
  0% {
    transform: translate(-80, -10);
  }
  /* 25% {
    transform: translate(20px, 20px);
  }
  50% {
    transform: translate(30px, 60px);
  } */
  75% {
    transform: translate(40px, 100px);
  }
  100% {
    transform: translate(60px, 190px);
  }
}



/* labels animated */

.link {
  height: 30px;
  align-items: center;
  color: #F8F7F0;
  text-decoration: none;
  display: flex;
  width: 100px;
}
.linkMd {
  height: 110px;
  align-items: center;
  color: #F8F7F0;
  text-decoration: none;
  display: flex;
  width: 100px;
}

.mask {
  padding: 0;
  height: 20px;
  width: 100%;
  overflow: hidden;
}
.maskMd {
  padding: 0;
  height: 112px;
  width: 200px;
  overflow: hidden;
}


.link-container {
  transition: transform 0.4s ease;
}

.title {
  display: block;
  font-size: 0.9rem;
  transition: transform 0.4s ease;
}
.titleMobileMd {
  display: block;
  transition: transform 0.4s ease;
}

.link-title1 {
  transform-origin: right center;
}

.link-title2 {
  transform-origin: left center;
  transform: rotate(20deg) translateY(18px);
}

.link:hover .link-title1 {
  transform: rotate(20deg) translateY(-18px);
}

.link:hover .link-title2 {
  transform: rotate(0);
}

.link-title1Md {
  transform-origin: right center;
}

.link-title2Md {
  transform-origin: left center;
  transform: rotate(20deg) translateY(98px);
}

.linkMd:hover .link-title1Md {
  transform: rotate(20deg) translateY(-98px);
}

.linkMd:hover .link-title2Md {
  transform: rotate(0);
}

.link-title1Home {
  transform-origin: right center;
  transform: translateY(18px);
  transform: translate3d(-2.7rem, 0, 1rem);
}

.link-title2Home {
  transform-origin: left center;
  transform: translateY(38px);
}





.top-left {
  top: 0;
  left: 0;
}

.top-right {
  top: 0;
  right: 0;
}

.bottom-left {
  bottom: 0;
  left: 0;
}

.bottom-right {
  bottom: 0;
  right: 0;
}

.bottom-right span, .top-right span{
  right: 0;
}

/* animation HomePage  */


@keyframes slideUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.slide-up {
  animation: slideUp 0.6s ease-out;
}

@keyframes revealMasky {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}

.masky-container {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.masky {
  position: absolute;
  height: 0px;
  width: 800px;
  background: white;
  animation: revealMask 2s ease-out ;
}



/* backgrounds */

.fond2 {
  background: radial-gradient(50.32% 59.73% at 59.17% 50.6%, #3E553A 0%, #2B312A 100%);

}
.fond3fix {
  background:  #394735 ;

}

.fond {
  background: radial-gradient(50.32% 59.73% at 29.17% 20.6%, #3E553A 0%, #2B312A 100%);
  background-size: 100% 200%;
  animation: gradient-anim 10s ease infinite;
  width: 100%;
  background-position: center;

}
.grain {
  /* opacity: 0.1; */
  background-image: url('/assets/img/grain.png');
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

.bar-naturia {
  position: relative;
  overflow: hidden;
}

.bar-naturia::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('/assets/img/grain.png');
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.1;
  z-index: ;
}

.bar-naturia-content {
  position: relative;
  z-index: 2;
}


.bg-initial {
  background-size: cover;
}

.bg-hover-large:hover {
  transition: background-size 1.7s ease-in-out;
  background-size: 2200px 1400px;
}
@layer utilities {
  .grain-overlay::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('/assets/img/grain.png');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.1;
    z-index: 0;
    pointer-events: none;
  }
  .relative-content {
    position: relative;
    z-index: 10;
  }
}


@keyframes gradient-anim {
  5% {
    background-position: 40% 20%;
  }
  25% {
    background-position: 30% 30%;
  }
  50% {
    background-position: 15% 45%;
  }
  60% {
    background-position: 50% 20%;
  }
  75% {
    background-position: 76% 50%;
  }
  84% {
    background-position: 96% 26%;
  }
  75% {
    background-position: 76% 76%;
  }
  60% {
    background-position: 60% 60%;
  }
  50% {
    background-position: 50% 10%;
  }
  25% {
    background-position: 5% 40%;
  }
  10% {
    background-position: 45% 25%;
  }




  

}
