@import url('https://use.typekit.net/hrx3hnu.css');
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {

  --greyLink: "#C5C5C5"
  --greyRingCursor: "#D9D9D9"
  --yellowdark: '#8f3270',
  --yellow: '#ebd515',
  --white2: '#F8F7F0'
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.icon-size-custom {
  height: 26px;
  width: 26px
}

/* fonts */

.general {
  font-family: 'ivypresto-display', serif;
}

.menca {font-family: 'menca', sans-serif;}

.bounds {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
}

@keyframes hor-movement2 {
  from {
    margin-left: 80vw;
  }
  to {
    margin-left: 0vw;
  }
}

@keyframes ver-movement2 {
  from {
    margin-top: 70vh;
  }
  to {
    margin-top: 0vh;
  }
}

.image2 {
  animation-name: hor-movement2, ver-movement2;
  animation-duration: 15s, 20s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}


/* testCursor */

.cursorDesign {
  background-color: rgb(214, 21, 21);

  height: 82px;
  width: 82px;
  border-radius: 50%;
  position:fixed;


}




.blurred {
  filter: blur(1.8px);
  transition: filter 0.1s;
}



/* labels animated */

.link {
  height: 30px;
  align-items: center;
  color: #F8F7F0;
  text-decoration: none;
  display: flex;
  width: 100px;
}

.mask {
  /* position: relative; */
  padding: 0;
  height: 20px;
  width: 100%;
  overflow: hidden;
}


.link-container {
  transition: transform 0.4s ease;
}

.title {
  display: block;
  font-size: 0.9rem;
  transition: transform 0.4s ease;
}

.link-title1 {
  transform-origin: right center;
}

.link-title2 {
  transform-origin: left center;
  transform: rotate(20deg) translateY(18px);
}

.link:hover .link-title1 {
  transform: rotate(20deg) translateY(-18px);
}

.link:hover .link-title2 {
  transform: rotate(0);
}
.top-left {
  top: 0;
  left: 0;
}

.top-right {
  top: 0;
  right: 0;
}

.bottom-left {
  bottom: 0;
  left: 0;
}

.bottom-right {
  bottom: 0;
  right: 0;
}

.bottom-right span, .top-right span{
  right: 0;
}


.fond {
  background: radial-gradient(50.32% 59.73% at 29.17% 30.6%, #3E553A 0%, #2B312A 100%);
  background-size: 200% 200%;
  animation: gradient-anim 15s ease infinite;
}

@keyframes gradient-anim {
  0% {
    background-position: 10% 10%;
  }
  50% {
    background-position: 50% 50%;
  }
  60% {
    background-position: 60% 20%;
  }
  75% {
    background-position: 76% 50%;
  }
  84% {
    background-position: 86% 26%;
  }
  75% {
    background-position: 76% 76%;
  }
  60% {
    background-position: 60% 60%;
  }
  50% {
    background-position: 20% 50%;
  }
  25% {
    background-position: 60% 40%;
  }


}
